/* Stili generali */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiato per allineare gli elementi in alto */
    align-items: center;
    height: 100vh;
    margin: 0; /* Rimuove il margine predefinito */
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #061839, #35808b);
}

table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top:10%;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}

th, td {
    padding: 12px;
    text-align: center;
    cursor: pointer;

}

th {
    background-color: #4CAF50;
    color: white;
}

.empty-row {
    height: 20px;
}

#message {
    margin-top: 20px;
    display: none;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#successMessage {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    text-align: center;
}

td.prenotato-altri {
    background-color: #ff4d4d !important;
    color: white;
    font-weight: bold;
}

td.prenotato-mio {
    background-color: #4CAF50 !important;
    color: white;
    font-weight: bold;
}

/* Barra superiore */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #31808d;
    padding: 10px 20px;
    opacity: 0.9;
    width: 100%; /* Assicurati che la barra superiore occupi tutta la larghezza */
    position: fixed; /* Fissa la barra in cima alla pagina */
    top: 0; /* Posiziona la barra in cima */
    left: 0; /* Assicura che sia allineata a sinistra */
    z-index: 1000; /* Assicura che sia sopra altri contenuti */
}

.logo img {
    height: 40px;
    margin-right:10%;
}

nav {
    display: flex;
    align-items: center;
}

.login-button {
    width: 50%;
    background: #002d74;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10%;
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
}

.login-button:hover {
    background: #0048bf;
    background-color: #0056b3;
    transform: scale(1.04);
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
}

/* Sezione Hero */
.hero {
    position: relative;
    padding: 125px 20px;
    margin-top: 60px; /* Aggiungi margine per evitare sovrapposizione con la barra superiore */
}

.hero-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(0,159,255,0.3) 100%);
    z-index: -1;
}

.hero-content h1 {
    font-size: 90px;
    letter-spacing: 2px;
    margin-left: 280px;
}

.hero-content p {
    font-size: 1.6rem; 
    letter-spacing: 1px;
    margin-left: 280px;
}

.hero-image {
    position: relative;
    top: 5%;
}

/* Sezione pulsanti */
.buttons-container {
    margin: auto;
    width: 50%;
    margin-top: 30px;
    display: flex; /* Cambiato per utilizzare flexbox */
    justify-content: space-around; /* Spaziatura uniforme tra i pulsanti */
}

.button {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 24%;
    letter-spacing: 2px;
}

.divider {
    width: 3%;
    height: auto;
    display: inline-block;
}

.button1 {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 24%;
    letter-spacing: 2px;
}

.button:hover {
    background: #00ffcc;
    color: #0a0d1a;
}

.button1:hover {
    background: #00ffcc;
    color: #0a0d1a;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 10%;
    box-shadow: 5px;
    letter-spacing:3px;
  }

  .cards img{
    height: 80px;
    width: 80px;
    padding: 10%;
    margin-left: 60%;
    margin-bottom: 5%;
  }
  
  .cards .red {
    background-color: #002d74;
  }
    .cards .blue {
        background-color:#03a283
    }
  .cards .green {
    background-color:#35808b
  }
  
  .cards .card {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    padding-left:30px;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
    padding-left:5%;
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(2px);
    transform: scale(0.9, 0.9);
  }

  h1{
    margin-top: 10%;
    color:#f9f9f9;
    letter-spacing:3px;
    font-size:50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    

  }