/* Stili generali */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /*background: #0a0d1a; */
    background: linear-gradient(to right, #061839, #35808b);
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}

/* Barra superiore */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #31808d;
    padding: 10px 20px;
    margin-top: 0%;
    opacity: 0.9;
}

.logo img {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 30%; /* Riduci la larghezza della tabella */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px auto; /* Centra la tabella e imposta un margine superiore */
    border-radius: 15px;
}

th, td {
    padding: 8px; /* Riduci il padding */
    text-align: center;
}

th {
    color: white; /* Colore del testo */
    background-color: #31808d; /* Colore di sfondo per le intestazioni */
    padding: 10px; /* Aggiungi padding per migliorare l'aspetto */
}

.empty-row {
    height: 20px;
}

.login-button {
    width: 50%;
    background: #002d74;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
}

.login-button:hover {
    background: #0048bf;
    background-color: #0056b3;
    transform: scale(1.04);
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
}

button {
    --green: #1BFD9C;
    font-size: 12px; /* Riduci la dimensione del font */
    padding: 0.5em 1.5em; /* Riduci il padding */
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.4em; /* Riduci il raggio di curvatura */
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.2em; /* Riduci l'altezza della linea */
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

button:hover:before {
    transform: translateX(15em);
}

